@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-sora;
        overflow: hidden;
    }

    div {
        @apply text-[14px]
    }
}

@layer components {
    .ct-sidebar-left {
        @apply py-2 px-6 font-semibold flex items-center gap-3 text-[10px] md:text-xs;
    }

    .ct-icon-music-player {
        @apply cursor-pointer hover:text-0F hover:transition-colors hover:ease-in-out hover:duration-500;
    }

    .ct-text-shadow-no1 {
        text-shadow: 1px 1px 0 #4a90e2, -1px 1px 0 #4a90e2, -1px -1px 0 #4a90e2,
            1px -1px 0 #4a90e2;
    }

    .ct-text-shadow-no2 {
        text-shadow: 1px 1px 0 #50e3c2, -1px 1px 0 #50e3c2, -1px -1px 0 #50e3c2,
            1px -1px 0 #50e3c2;
    }

    .ct-text-shadow-no3 {
        text-shadow: 1px 1px 0 #e35050, -1px 1px 0 #e35050, -1px -1px 0 #e35050,
            1px -1px 0 #e35050;
    }

    .ct-text-shadow-other {
        text-shadow: 1px 1px 0 rgba(0,0,0,0.5), -1px 1px 0 rgba(0,0,0,0.5), -1px -1px 0 rgba(0,0,0,0.5),
            1px -1px 0 rgba(0,0,0,0.5);
    }
}